    body {
    background-color: #e4b9b9;
    }
    h1 {
        color:black;
    }
    h2{
        font-size: 1.5rem;
        background-color: #ebccd1;
    }
    h3 {
        color: black;
        background-color: #ebccd1;
    }
    h4 {
        width: 100px;
        height: 15px;
        font-size: 1.2rem;
    }
    input{
        width: 90%;
        margin: 10px 5%;
        padding: 15px 10px;
        font-size: 14px;
        border: 2px solid silver;
        border-radius: 5px;
        outline: none;

    }
    #form {
        display: none
    }
